/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Container */
.container {
    max-width: 900px;
    margin: 100 px;
    padding: 20 px;
    background: #eea9e1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center align text within the container */
}

/* Heading */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

/* Task List */
.task-list {
    margin: 20px 0;
}

.task-item {
    background: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.task-item:hover {
    background-color: #f1f1f1;
}

/* Buttons */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Roboto', sans-serif;
}

button:hover {
    background: #0056b3;
}

button:disabled {
    background: #cccccc;
    cursor: not-allowed;
}

.task-item button {
    margin-left: 10px;
}

.task-form {
    display: none;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

/* Form Styles */
label, input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

/* Form Title */
#form-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

/* Special Classes */
button.add-task-button {
    background: #28a745;
}

button.add-task-button:hover {
    background: #218838;
}

button.cancel-button {
    background: #dc3545;
}

button.cancel-button:hover {
    background: #c82333;
}
